@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap');*{
  font-family: 'poppins';
}

/* WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px; /* width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(220, 220, 220); /* color of the thumb */
  border-radius: 6px; /* roundness of the thumb */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* color of the track */
}

/* Firefox */
/* Note: This only works in Firefox 64 and later versions */



.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
